@font-face{
    font-family: asd;
    src: url('Fonts/Earlybird.otf');
}

#font1{
    font-family: asd;
}

h1{
font-weight: 282;
}

p{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

#Font{
    font-family: 'Pacifico', cursive;
}