table{
    border: 2px solid goldenrod;
    border-collapse: collapse;
    empty-cells: hide;
    table-layout: fixed;
}
caption{
    border: 2px solid yellowgreen;
    caption-side: bottom;
}
th{
    border: 2px solid yellowgreen;
    height: 30px;
    padding: 5px;
    text-align: right;
}
td{
    border: 2px solid yellowgreen;
    height: 40px;
    padding: 5px;
    text-align: left;
    vertical-align: bottom;
}